---
import { cn } from "@/lib/utils";
import Logo from "@/components/layout/Logo.astro";
import { DesktopNav } from "@/components/layout/DesktopNav";
import { NavbarActions } from "@/components/layout/NavbarActions";

interface Props {
  currentPage: string;
}

const { currentPage } = Astro.props;

const pathname = currentPage?.replace(/\/$/, '') || '';

const hideNavbar = ['/signin', '/signup', '/docs', '/not-found', '/forgot-password'].some((route) => 
  pathname.includes(route)
);
---

{!hideNavbar && (
  <header
    class="sticky top-0 z-50 bg-linear-to-t from-background/0 to-white/80 border-b backdrop-blur-md supports-backdrop-filter:bg-background/60"
  >
    <div class="container max-w-5xl flex items-center h-16">
      <Logo />
      <div class="flex flex-1 justify-center hidden lg:block">
          <DesktopNav client:idle pathname={pathname}  pagename={Astro.url.pathname} />
      </div>
      <div class="flex flex-1 justify-end">
        <NavbarActions client:idle pathname={pathname}/>
      </div>
    </div>
  </header>
)}
