---
import MMLogo from '@/assets/logos/momentum_logo.svg';
---

<section id="manifesto" class="section-padding">
    <div class="container text-center max-w-xl">
        <MMLogo class="mx-auto size-40" style="height: 3em !important;"/>
        <p class="text-lead mt-5">
            BioSked Momentum is the healthcare workforce platform that unifies AI staff scheduling, on-call, time & attendance, RVU, and telemedicine <strong>- so every shift is fair, compliant, and covered</strong>.
        </p>
    </div>
</section>
