---
// What's New section component
import { Image } from 'astro:assets';
import timeRvu from '@/assets/screenshots/time-rvu.webp';
---

<section class="py-20">
  <div class="container max-w-4xl">
    <div class="relative">
        <a
          href="#"
          class="border border-primary/50 group bg-white/20 relative flex flex-col items-center pb-6 pt-6 text-center transition-all duration-200 px-8 sm:px-10"
        >
          <div class="bg-border absolute top-0 h-px w-full md:hidden"></div>
          <div class="mb-6 max-w-sm lg:mb-8">
            <Image
              src={timeRvu}
              alt="RVU Scheduling"
              class="w-2/3 m-auto sm:w-full h-auto rounded-lg mt-3"
              height={200}
            />
          </div>
          <h2 class="mb-4 text-2xl font-semibold md:mb-5 tracking-tight text-secondary">
            The first solution built for <strong>RVU-based</strong> scheduling
          </h2>
          <p class="text-secondary/60 mb-auto text-md sm:text-lg pb-4">
            Optimize your radiology scheduling with value-based allocation. Our RVU scheduling system ensures fair workload distribution, tracks productivity metrics, and helps balance schedules based on relative value units for efficient resource management.
          </p>
        </a>
      <div class="absolute -left-[5px] -top-[5px]">
        <div class="bg-primary size-3 rounded-full"></div>
      </div>
      <div class="absolute -right-[5px] -top-[5px]">
        <div class="bg-primary size-3 rounded-full"></div>
      </div>
      <div class="absolute -bottom-[5px] -left-[5px]">
        <div class="bg-primary size-3 rounded-full"></div>
      </div>
      <div class="absolute -bottom-[5px] -right-[5px]">
        <div class="bg-primary size-3 rounded-full"></div>
      </div>
    </div>
  </div>
</section>
