---
import MMLogo from '@/assets/logos/momentum_logo.svg';
---

<section id="manifesto" class="section-padding">
    <div class="container text-center max-w-xl">
        <MMLogo class="mx-auto size-40" style="height: 3em !important;"/>
        <p class="text-lead mt-5">
            Depuis plus de 15 ans, nous ne faisons qu’une chose : planifier le temps médical. Momentum centralise la génération automatique, les gardes et astreintes, les désidératas, le badgeage, les compteurs d’équité et les organisations multi-sites — <strong>pour que chaque vacation soit couverte, chaque répartition équitable, chaque planning conforme</strong>.
        </p>
    </div>
</section>
