---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
const { title, description } = Astro.props;
---

<BaseLayout title={title}>
	<div class="container max-w-2xl section-padding">
		<slot />
	</div>
</BaseLayout>