---
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
}

const { className = "", ...props } = Astro.props;

const classes = cn(
  "mm-card relative border-input flex flex-col gap-6 rounded-xl border py-6 dark:shadow-[0_4px_20px_-4px_rgba(0,0,0,0.3)] transition-all",
  className
);
---

<div data-slot="card" class={classes} {...props}>
  <slot />
  <div class="cornecross"/>
</div>
