---
import { cn } from "@/lib/utils";

interface Props {
  className?: string;
}

const { className = "", ...props } = Astro.props;

const classes = cn("flex items-center px-6 [.border-t]:pt-6", className);
---

<div data-slot="card-footer" class={classes} {...props}>
  <slot />
</div>
